@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #303030;
  --blue: #264596;
  --blue-2: #1860cf;
}

.container * {
  @apply outline outline-1 outline-orange-800;
}
.container {
  @apply max-w-[calc(1128px+16px)] mx-auto px-2;
}
